body {
    background-color: #3E6FB1;
}
.header {
    text-align: center;
}
body {
    color: #1C233E
}
img { 
    max-width: 100%; 
    height: auto; 
}
a:link {
    color: #D8D5CC;
}
a:visited {
    color: #B3BCC0;
}
a:hover {
    color: #D6D5D0;
}
h1{
    color:black;
    font-family:arial, helvetica, sans-serif;
}
h2{
    text-align:center;
}
.description{
    background:#8CAFDE;
    color:black;
    font-family:Century;
    text-align:justify;
    padding-left:10px;
    
    padding-right:10px;
    
}
.main{
    background-color:#5F8AC6;
    color: black;
    font-family:Century;
    padding-left:15px;
    padding-top:15px;
    padding-right:15px;
    padding-bottom:15px;
}
.data{
    width: 20%;
    height: 400px;
    margin:1%;
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
      display: flex;
  justify-content: space-around;
    background-color: #FFBB4A;
    border: double black 2px;
}
li.menu {
    float: left;
    font-family: Dotum, Century, Arial;
}
a.menu {
    display: block;
    padding: 8px;
    color: black;
    text-decoration: none;
}
a:hover {
    background-color: #3E6FB1;
}
a.internal:hover{
    color:#FFBB4A;
}
#dataToC{
    text-align:center;
}
#abbreviations{
    display:flex
}
#abbr1{
    flex-grow:1;
}
#laugh{
    display:flex;
}
#laughter1{
    flex-grow:1;
}
#emojiUse{
    display:flex;
}
#emoji1{
    flex-grow: 1;
}
class.conversationHeader:hover{
        color:#d3d3d3;
}
div#thirdThird
{
display:none;
}div#firstFirst
{
display:none;
}div#secondSecond
{
display:none;
}div#fourthFourth
{
display:none;
}div#fifthFifth
{
display:none;
}div#sixthSixth
{
display:none;
}div#seventhSeventh
{
display:none;
}div#eighthEighth
{
display:none;
}div#ninthNinth
{
display:none;
}div#tenthTenth
{
display:none;
}
#left {
    width: 20%;
    top: 50%;
    position: fixed;
    outline: 1px solid;
    background: #FFBB4A;
}
#right {
    width: 75%;
    height: auto;
    position: absolute;
    right: 0;
}
#top {
    width: 100%;
    height: auto;
}
#corrections{
    display:flex;
}
#corrections1{
    flex-grow:1;
}
#expanForms{
    display:flex;
}
#expanded1{
    flex-grow:1;
}